@font-face {
	font-family: 'icomoon';
	src:url('../font/icomoon.eot');
	src:url('../font/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../font/icomoon.woff') format('woff'),
		url('../font/icomoon.ttf') format('truetype'),
		url('..//font/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body, img, ul {border:0; margin:0; padding:0; font:12px Arial;}
html {height:100%;height: 100%;width: 100%;}
body { min-height:100%; overflow-x: hidden; position: relative;}
#overlay {position: fixed;top:0;left:0;z-index: 16;width:100%;height:100% !important; background:url('../img/overlay-bg.png') repeat; display:none;}
.clear {clear:both;}
.comment {display:block; color:#939393; padding:5px 0px; font-size:11px; font-style:italic; -moz-text-shadow:none; -webkit-text-shadow:none; text-shadow:none; max-width:500px;}

/* Head menu */
#wrapper {min-height:100%; min-width:1000px;width: 100%;margin: 0 auto;padding-top: 34px;}
.headmenu {width:100%; height: 32px; position: absolute;top: 0;left: 0;background: #333;border-bottom: 2px solid #9AAF2A;}

.headmenu .homelink {float: left;margin-left: 12px;}
.headmenu .homelink a:before {content: "\e001";}
.headmenu .homelink a {padding: 6px 8px;height: 17px;position: relative;display: inline-block;font-family: 'icomoon';color: #ddd;text-decoration: none;font-size: 17px;}
.headmenu .homelink:hover a {color: #fff;}
.headmenu .homelink:hover a, .headmenu .homelink a, .headmenu .userbar a.exit, .headmenu .userbar a.exit:hover {speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;transition: .3s ease-in-out;-moz-transition: .3s ease-in-out;-webkit-transition: .3s ease-in-out;-ms-transition: .3s ease-in-out;}

.headmenu .menu {float:left;width: 77%;margin-left: 12px;}
.headmenu .menu > ul { position:relative;text-align: left;white-space: nowrap;}
.headmenu .menu ul, .headmenu .menu ul li {list-style-type:none;}
.headmenu .menu > ul > li {padding: 8px 0; height:16px; position:relative; display: inline-block;cursor: pointer;}
.headmenu .menu > ul > li:hover {background: #414141;}
.headmenu .menu > ul > li > span {display:block; padding: 0 18px; color:#ddd; text-decoration:none;text-shadow:0 -1px 0 #000;}
.headmenu .menu ul li .sub {display:none; width:200px; border-bottom:1px solid #8E8E8E; background: #505050; position:absolute; z-index:3; top: 34px; -moz-box-shadow:0 6px 9px #000; -webkit-box-shadow:0 6px 9px #000; box-shadow: 0 6px 10px #7A7A7A; overflow:hidden;}
.headmenu .menu ul li .sub .shadow {padding: 0 10px; box-shadow: inset 0 4px 12px #1A1A1A; -moz-box-shadow: inset 0 4px 12px #1A1A1A;-webkit-box-shadow: inset 0 4px 12px #1A1A1A;width: 199px; margin-left: -10px;}
.headmenu .menu ul li .sub li {width: auto;  text-align: left;min-height: 30px;  padding: 0;  border-bottom: 1px solid #494949;}
.headmenu .menu ul li .sub li a { text-decoration: none; width: 177px;  display: block;  color: #BDBDBD;  padding: 6px 6px 9px 17px;  font-size: 13px;  text-transform: none; text-shadow: 0 -1px 0 #1D1D1D;white-space: normal;}
.headmenu .menu ul li .sub li a:hover {background-color: rgba(255, 255, 255, 0.06);}
.headmenu .menu ul li .sub li span {color:#bbb;padding: 6px 6px 9px 17px;display: block;}
.headmenu .menu ul li .sub li .usually_link {background: transparent;width: auto;height: auto;display: inline;padding: 0;}
.headmenu .menu ul li .sub li .usually_link:hover {background: transparent;text-decoration:underline;}

.headmenu .userbar {width:14%;max-width: 175px; float:right;}
.headmenu .userbar .ava {width: 26px;height: 26px;float: left;margin-top: 1px;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;-moz-box-shadow: inset 0 0 10px #202020, inset 0 1px 1px #000, inset 0 -1px 1px #fff;-webkit-box-shadow: inset 0 0 10px #202020, inset 0 1px 1px #000, inset 0 -1px 1px #fff;box-shadow: inset 0 0 10px #202020, inset 0 1px 1px #000, inset 0 -1px 1px #fff;}
.headmenu .userbar .ava img {width: 26px; height: 26px;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;}
.headmenu .userbar .name {position: absolute;margin-left: 34px;font-size: 0.8em;margin-top: 2px;}
.headmenu .userbar .name a {color:#ddd; font-style:italic; font-weight:bold;   text-shadow: 0 1px 0 #555;text-decoration: none;}
.headmenu .userbar .name a:hover {text-decoration:none;}
.headmenu .userbar .name span {display:block; color: #BBB; font-style:italic;}
.headmenu .userbar a.exit:before {content: "\e103";}
.headmenu .userbar a.exit {display: block;width: 16px;height: 15px;margin-top: 6px;margin-right: 11%;float: right;font-family: 'icomoon';text-decoration: none;color: #ddd;font-size: 16px;}
.headmenu .userbar a.exit:hover {color:#fff;}

/* Side menu */
.center-wrapper {min-height:100%; margin: auto;padding-left: 237px;}
.side-separator, .side-separator div {vertical-align:top;}

.side-menu {text-align: left;width:235px; height:100%;  float: left;position: relative;border-left: 1px solid #DDD; border-right: 1px solid #DDD; padding: 0;margin-top:-1px;background: #F7F7F7;}
.side-menu > .search {height:31px; width:215px; padding:10px;border-bottom: 1px solid #646363; z-index:0;}
.side-menu .search .input {width:168px; height:26px; float:left; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -moz-background:linear-gradient(#4b4a4b, #6a6969); -ms-background:linear-gradient(#4b4a4b, #6a6969); -webkit-background:linear-gradient(#4b4a4b, #6a6969); background:linear-gradient(#4b4a4b, #6a6969); -moz-box-shadow:inset 0 0 3px #000; -webkit-box-shadow:inset 0 0 3px #000; box-shadow:inset 0 0 3px #000; border-bottom:1px solid #a3a3a3; margin-right:10px;}
.side-menu .search .input input[type="text"] {background:none; border:none; color:#cdcdcd; font-style:italic; padding:5px; -moz-box-shadow:none; -webkitbox-shadow:none; box-shadow:none;outline: none;}
.side-menu .search .submit-butt {width:24px; height:24px; float:left; background:url('../img/submit-button-bg.png') no-repeat; border:none; cursor:pointer;}

.side-menu ul, .side-menu li {list-style-type:none;}
.side-menu li {display:block; width: 235px; min-height:42px; position:relative; border-top: 1px solid #DDD; }
.side-menu li:hover {background-color: #F3F3F3; background-color: rgba(214, 214, 214, 0.08);}
.side-menu li:last-child {border-bottom:none;}
.side-menu li div.icon {width: 40px;height: 36px;float: left;color: #3D3D3D;margin: 3px 6px;font-size: 2.5em;}
.side-menu li:hover div.icon {color: #666;}
.side-menu li a {width: 140px; display:inline-block; padding:13px 0; color: #383838; text-decoration:none; font-size: 1em;}
.side-menu li a:hover {color: #272727;}
.side-menu li .sub-opener {width: 33px;height: 33px;position: absolute;right: 4px;top: 4px;font-size: 32px;color: #C5C5C5;cursor: pointer;overflow:hidden}
.side-menu li:hover .sub-opener {color: #999;}
.side-menu li .sub-opener:hover {color:#3D3D3D;}
.side-menu li div.sub {position:relative; background: #FFF; border-top: 2px solid #B4B4B4; overflow:hidden; display:none;}
.side-menu li div.sub .shadow {width: 235px;}
.side-menu li div.sub ul, .side-menu li div.sub li {border:none; background:none;}
.side-menu li div.sub ul li {width: auto; min-height: 30px; padding: 0; border-bottom: 1px solid #DDD;}
.side-menu li div.sub ul li a {width: 204px; display: block; color: #575757; padding: 6px 0 9px 31px; font-size: 1em; text-transform: none;}
.side-menu li div.sub ul li:hover a {background-color: rgba(201, 201, 201, 0.1);}
.sub-opener, .sub-opener:hover, .side-menu li:hover div.icon, .side-menu li div.icon {font-family: 'icomoon';speak: none;font-style: normal;font-weight: normal!important;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;transition: .3s ease-in-out;-moz-transition: .3s ease-in-out;-webkit-transition: .3s ease-in-out;-ms-transition: .3s ease-in-out;}
.sub-opener:before {content: "\e134";}
/* Side menu icons */
.side-menu li div.icon.users:before {content: "\e071";}
.side-menu li div.icon.pages:before {content: "\e026";}
.side-menu li div.icon.news:before {content: "\e004";}
.side-menu li div.icon.forum:before {content: "\e06c";}
.side-menu li div.icon.stat:before {content: "\e020";}
.side-menu li div.icon.loads:before {content: "\e05e";}
.side-menu li div.icon.search:before {content: "\e07f";}
.side-menu li div.icon.foto:before {content: "\e00f";}
.side-menu li div.icon.chat:before {content: "\e06d";}
.side-menu li div.icon.statistics:before {content: "\e096";}

.side-menu li.cat_on, .side-menu li.cat_off {color: #383838; font-size: 1.2em;    padding: 14px 0;text-align: center;min-height: 18px;}
.side-menu li.cat_on {background-color: #EAF1D3;}
.side-menu li.cat_off {background-color: #FFDDDD;}
/* Content */
.crumbs {height: 22px;position:relative;z-index:1;padding: 13px 129px; color: #AF6865; font-style:italic; font-size: 17px;background: #F0F0F0 url('../img/logo.png')14px no-repeat;border: 1px solid #DDD;}
.crumbs a, .rcrumbs a {color:#a1a1a1; font-style:italic; text-decoration:underline; font-size:12px;}
.crumbs a:hover, .rcrumbs a:hover {text-decoration:none;}
.rcrumbs {float:right; padding:17px 10px;position:relative;z-index: 2;}

#content-wrapper { position:relative; border-right: 1px solid #ddd;overflow: hidden;}
.warning {padding:10px 15px 15px 70px; background: #FDE7E7 url('../img/warning-icon.png') 14px center no-repeat; position:relative;    color:#5e5e5e; font-size:12px; min-height: 30px;border-bottom: 1px solid #ddd;}

.list {position:relative;     }
.list > .title {height: 16px; padding: 13px 20px; color: #6B6B6B; font-size: 15px; font-weight:bold;     border-bottom: 1px solid #DDD;}
.list .add-cat-butt {padding-right: 15px;height: 22px;position: absolute;top: 10px;line-height: 27px;right: 0;color: #777;text-decoration: underline;cursor: pointer;}
.list div.add {display: inline-block;width: 25px;float: left;height: 22px;margin-bottom: -6px;margin-right: 6px;font-size: 25px;font-family: 'icomoon';speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.list div.add:before {content: "\e27f";}
.list .add-cat-butt:hover {color: #444;}
.list .add-cat-butt, .list .add-cat-butt:hover {transition: .3s ease-in-out;-moz-transition: .3s ease-in-out;-webkit-transition: .3s ease-in-out;-ms-transition: .3s ease-in-out;}

.list > .level1 {background: #fff;}
.list > .level1 > .head {height:53px; color:#717171; font-size:13px; font-weight:bold; border-bottom: 1px solid #DDD; -moz-background:linear-gradient(#c2c1c1, #ececec); -ms-background:linear-gradient(#c2c1c1, #ececec); -webkit-background:linear-gradient(#c2c1c1, #ececec); background: linear-gradient(#FFF, #F0EEEE);}
.list > .level1 > .head .title {height:13px; padding:20px; color:#717171; font-size:13px; font-weight:bold; float:left; -moz-text-shadow:0 1px 1px #fff; -webkit-text-shadow:0 1px 1px #fff; text-shadow:0 1px 1px #fff;}
.list > .level1 > .head > .buttons {height:13px; padding:20px 10px; float:right; border-left: 1px solid #DDD; text-align:center; }

.list > .level1 > .items > .level2:nth-child(2n + 1) {background:#f4f2f2;}
.list > .level1 > .items > .level2 {height:40px; color:#3a3a3a; font-size:13px;border-bottom: 1px solid #ddd;}
.list > .level1 > .items > .level2 .number {width:50px; height:20px; padding:10px; float:left; border-right:1px solid #e1e1e1; color:#717171; text-align:center;}
.list > .level1 > .items > .level2 .icon {float: left;width: 40px;height: 40px;position: relative;margin-left: 5px;}
.list > .level1 > .items > .level2 .icon img {max-width: 40px;max-height: 40px;position: absolute;left: 0;right: 0;bottom: 0;top: 0;margin: auto;}
.list > .level1 > .items > .level2 .title {min-height:20px; padding:10px 20px; float:left;}
.list > .level1 > .items > .level2 .posts {min-width: 44px;height: 23px;margin: 7px;background: url('../img/posts-cnt-bg.png') center left no-repeat,url('../img/posts-cnt-bg.png') bottom right no-repeat;text-align: center;float: right;}
.list > .level1 > .items > .level2 .posts div {background: url('../img/posts-cnt-bg.png') repeat-x;height: 23px;margin: 0 19px;line-height: 17px;color: #fff;font-size: 11px;font-weight: bold;text-shadow: 0 1px 0 #666;white-space: nowrap;}
.list > .level1 > .items > .level2 .buttons {height:20px; padding:10px; float:right; border-left:1px solid #e1e1e1; text-align:center;}

.list > .level1 > .items > .level2 .buttons, .list > .level1 > .head > .buttons {width:140px; padding-right:90px; text-align:right;}
.setting-item > .buttons {width:140px; padding-right:90px; text-align:right; border-left:1px solid #bebdbd; float:right;} 
.cat-indent {display:inline-block; padding-right:10px;}
.cat-indent:after {content:" - ";}
.fps-win {background:#fff;padding: 5px;}
.info-str {background: #fff;padding: 5px;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;display: inline-block;}
.setting-item > .unbordered-buttons {width:140px; height:25px; padding-right:50px; text-align:right; border:none; position:absolute; top:0px; bottom:0px; right:0px; margin:auto; margin-right:0px;}

/* Settings list */
.list > .level1 > .head .title.settings {width:21%; border-right: 1px solid #DDD;}
.list > .level1 > .head .title-r {height:13px; padding:20px; float:left; border-left: 1px solid #FFF; -moz-text-shadow:0 1px 1px #fff; -webkit-text-shadow:0 1px 1px #fff; text-shadow:0 1px 1px #fff;}
.list > .level1 > .items > .setting-item:nth-child(2n) {background: #FAFAFA;}
.list > .level1 > .items > .setting-item {color:#3a3a3a; font-size: 1.1em; text-shadow:0 0 1px #777;border-bottom: 1px solid #d5d5d5;overflow: hidden;position:relative;}
.list > .level1 > .items > .setting-item .left, .list > .level1 > .items > .setting-item .right {padding:20px;}
.list > .level1 > .items > .setting-item .left {width: 21%; float:left; border-right:1px solid #e1e1e1;}
.list > .level1 > .items .comment {display:block; color:#939393; padding:5px 0; font-size:11px; font-style:italic; -moz-text-shadow:none; -webkit-text-shadow:none; text-shadow:none;}
.list > .level1 > .items .comment2 {color:#939393; padding:0 5px; font-size:11px; font-style:italic; -moz-text-shadow:none; -webkit-text-shadow:none; text-shadow:none;}
.list > .level1 > .items > .setting-item .right {float:left; border-left:1px solid #e1e1e1; margin-left:-1px; vertical-align:center;}
.list > .level1 > .items > .setting-item .right input[type="text"], select, textarea, .collection {width: 347px;}
.list > .level1 > .items > .setting-item .center {padding:20px;}
.list > .level1 > .items > .setting-item .center h3 {text-shadow:none; color:#96C703;}
.yes {width:23px; height:23px; background:url('../img/icons-sprite2.png') no-repeat;}
.no {width:23px; height:23px; background:url('../img/icons-sprite2.png') 0 -67px no-repeat;}

.list > .level1 > .items > .setting-item > .title {height:13px; padding:20px; color:#717171; font-size:13px; font-weight:bold;        text-shadow:0px 1px 1px #fff;-moz-background: linear-gradient(#c2c1c1, #ececec);  -ms-background: linear-gradient(#c2c1c1, #ececec);  -webkit-background: linear-gradient(#c2c1c1, #ececec);  background: linear-gradient(#FFF, #F0EEEE);}

.list .level1:last-child {
}

/* Checkboxs and radio customization */
/*
.setting-item .right input[type="checkbox"], .setting-item .right input[type="radio"] {display:none;}
.setting-item .right input[type="checkbox"]+label, .setting-item .right input[type="radio"]+label {display:block;}
.setting-item .right input[type="checkbox"]+label::before {content:""; display:inline-block; height:18px; width:18px; margin: 0 5px 0 0; background: url('../img/inputs-sprite.png') -38px -260px no-repeat;}
.setting-item .right input[type="radio"]+label::before {content:""; display:inline-block; height:18px; width:18px; margin: 0 5px 0 0; background: url('../img/inputs-sprite.png') 0 -279px no-repeat;}
.setting-item .right input[type="checkbox"]:checked + label::before {background-position: -114px -260px;}
.setting-item .right input[type="radio"]:checked + label::before {background-position: -108px -279px;}
.setting-item .right input[type="radio"]+label::before, .setting-item .right input[type="checkbox"]+label::before {margin:10px; margin-bottom:-4px;}
*/
.right input[type="checkbox"], .right input[type="radio"] {display:none;}
.right input[type="checkbox"]+label, .right input[type="radio"]+label {display:block;}
.right input[type="checkbox"]+label::before {content:""; display:inline-block; height:18px; width:18px; margin: 0 5px 0 0; background: url('../img/inputs-sprite.png') -38px -260px no-repeat;}
.right input[type="radio"]+label::before {content:""; display:inline-block; height:18px; width:18px; margin: 0 5px 0 0; background: url('../img/inputs-sprite.png') 0 -279px no-repeat;}
.right input[type="checkbox"]:checked + label::before {background-position: -114px -260px;}
.right input[type="radio"]:checked + label::before {background-position: -108px -279px;}
.right input[type="radio"]+label::before, .right input[type="checkbox"]+label::before {margin:10px; margin-bottom:-4px;}
.right .checkbox-collection {width:290px;}

.save-button {width:152px; height:42px; border:none; background:url('../img/save-button-bg.png') no-repeat; color:#eefebe; font-size:15px; text-shadow:0 -1px 1px #555; cursor:pointer;}
.save-button:hover {background:url('../img/save-button-bg.png') no-repeat 0 -42px;}
.save-button:active {background:url('../img/save-button-bg.png') no-repeat 0 -84px;}
#screenshot {display:block; margin-top:5px;max-width: 348px;max-height: 500px;}

/* Action icons */
.list a.edit, .list a.delete, .list a.add, .list a.off-home, .list a.on-home, .list a.move, a.off, a.on, a.acl, a.undo, .list a.edit:hover, .list a.delete:hover, .list a.add:hover, .list a.off-home:hover, .list a.on-home:hover, .list a.move:hover, a.off:hover, a.on:hover, a.acl:hover, a.undo:hover {display: inline-block;width: 22px;height: 22px;line-height: 1;font-size: 20px;color: #777;text-decoration: none;text-align: center;font-family: 'icomoon';speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;transition: .3s ease-in-out;-moz-transition: .3s ease-in-out;-webkit-transition: .3s ease-in-out;-ms-transition: .3s ease-in-out;}
.list a.edit:before {content: "\e08e";}
.list a.delete:before {content: "\e0a8";}
.list a.add:before {content: "\e27f";}
.list a.off-home:before {content: "\e304";}
.list a.on-home :before {content: "\e305";}
.list a.move:before {content: "\e285";}
a.off:before {content: "\e269";}
a.on:before {content: "\e267";}
a.acl:before {content: "\e0af";}
a.undo:before {content: "\e069";}
.list a.edit:hover, .list a.delete:hover, .list a.add:hover, .list a.off-home:hover, .list a.on-home:hover, .list a.move:hover, a.off:hover, a.on:hover, a.acl:hover, a.undo:hover {color:#333}
a.off {color: #DA0000 !important;} a.off:hover {color: #940000 !important;}
a.on {color:#8DBB01 !important;} a.on:hover {color:#6A8D00 !important;}
/* Login page */
#login-wrapper {position:relative;width: 100%;}
#login-wrapper .form {width:488px; height:226px; background: #F5F5F5; position:absolute; top: 180px; left: 0;right: 0;margin: auto;border: 1px solid #ddd;box-shadow: 0 0 20px #ddd;}
#login-wrapper .form .title {padding:17px 25px; color: #686868; font-size:14px; font-weight:bold;}

#login-wrapper .form .items {position:relative;}
#login-wrapper .form .items .error {position: absolute;top: -35px;left: 190px;}
#login-wrapper .form .items .error li {color:#f00; font-size:11px;}
#login-wrapper .form .item {padding: 10px 110px 10px 110px;}
#login-wrapper .form .item span {color: #424242; font-size:13px; text-shadow:0 1px 1px #aaa; line-height: 20px;}
#login-wrapper .form .item input {height:17px; width: 180px; padding:5px; border:none; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;      -webkit-box-shadow:inset 0 1px 2px #424242; box-shadow: inset 0 1px 2px #424242; float:right; color:#444; border: 1px solid #F3F3F3;font-size:13px; text-shadow:0 1px 1px #aaa;}
#login-wrapper .form .submit {width:151px; height:42px; background:url('../img/login-submit-bg.png') no-repeat; position:absolute; bottom: 25px; left:170px;}
#login-wrapper .form .submit:hover {background:url('../img/login-submit-bg.png') no-repeat 0 -42px;}
#login-wrapper .form .submit:active {background:url('../img/login-submit-bg.png') no-repeat 0 -84px;}

#login-wrapper .form .submit input {background:none; border:none; width:100%; height:100%;cursor: pointer;}


/* .list2 */
.list2 {background:#fff; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; overflow:hidden;}
.list2 .item {width:50%; float:left;}
.list2 .item .title {height:47px; padding:20px 20px 20px 100px; background:#f4f2f2; color:#3a3a3a; font-size:17px;}
.list2 .item .title .descr {padding:5px 0; color:#939393; font-size:12px;}
.list2 .item .body {padding:20px 0 20px 100px;}
.list2 .item .body ul, .list2 .item .body li {list-style-type:none;}
.list2 .item .body li {padding:5px 0;}
.list2 .item .body li a {color:#678902; font-size:12px;}
.list2 .item .body li a:hover {text-decoration:none;}

.list2 .item .title.users {background: #f4f2f2 url('../img/sidemenu-icons-sprite-big.png') 0 20px no-repeat;}
.list2 .item .title.news {background: #f4f2f2 url('../img/sidemenu-icons-sprite-big.png') 0 -394px no-repeat;}
.list2 .item .title.pages {background: #f4f2f2 url('../img/sidemenu-icons-sprite-big.png') 0 -62px no-repeat;}
.list2 .item .title.forum {background: #f4f2f2 url('../img/sidemenu-icons-sprite-big.png') 0 -476px no-repeat;}

/* PopUp */
.popup {width: 80%;max-width: 500px;position: fixed;top: 30px;left: 0;right: 140px;margin: auto;box-shadow: 0 1px 4px #707070; overflow:hidden; z-index:999; display:none;border: 1px solid #AAA;}
.popup .top {height:17px;  padding:12px 20px; -moz-background: linear-gradient(#c2c1c1, #ececec);  -ms-background: linear-gradient(#c2c1c1, #ececec);  -webkit-background: linear-gradient(#c2c1c1, #ececec);  background: linear-gradient(#FFFFFF, #F0EEEE);}
.popup .top .title {color: #505050; font-size:15px; font-weight:bold; float:left;}
.popup .top .close {float:right; width:14px; height:14px; background:url('../img/close-button.png') no-repeat; margin-left:10px; cursor:pointer;}
.popup .items {border-top: 1px solid #AAA; padding:20px; line-height:17px;background: #fff;}
.popup .items .item {padding:5px 0;}
.popup .items .item .left {width:150px; float:left; padding-top:7px; -moz-text-shadow: 0 0 1px #999999; -webkit-text-shadow: 0 0 1px #999999; text-shadow: 0 0 1px #999999;}
.popup .items .item .left .comment {display:block; color:#939393; font-size:11px; -moz-text-shadow:none; -webkit-text-shadow:none; text-shadow:none;}
.popup .items .item .right {float:right;}
.popup .items .item .right input[type="text"], .popup .items .item .right input[type="file"], .popup .items .item .right textarea {width:290px;}
.popup .items .item .right select {width:300px;}
.popup .items .item .right textarea {height:100px;}
.popup .items .item.submit {padding-top:30px;}

/* inputs */
input[type="text"], select, textarea, .collection {height:17px; padding:5px; font-size:12px; color:#3f3f3f; font-style:italic; background:#fff; border:1px solid #ededed; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; box-shadow:inset 0 1px 1px #707070;}
select {height:27px;}
.collection {height:auto;}
.collection .item {display:inline-block; padding:7px; background:#f4f2f2; margin:4px; color:#939393; font-style:italic; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.collection .item .close {float:right; width:14px; height:14px; background:url('../img/close-button.png') no-repeat; margin-left:10px; cursor:pointer;}

/* Pages */
.white {
    border-bottom: 1px solid #ddd;
}
.pages-tree {float:left; width:20%; height: 1000px;    overflow:hidden;}
.pages-tree .title {height:17px; border-bottom: 1px solid #DDD; padding:12px 20px;  color: #535353; font-size:15px; font-weight:bold;-moz-background: linear-gradient(#c2c1c1, #ececec);  -ms-background: linear-gradient(#c2c1c1, #ececec);  -webkit-background: linear-gradient(#c2c1c1, #ececec);  background: linear-gradient(#FFFFFF, #F0EEEE);border-right: 1px solid #ddd;}

.pages-tree .wrapper {background: #fff; padding:10px;  overflow: auto;   height: 100%;border-right: 1px solid #ddd;}
.pages-tree .wrapper .tbn {color:#3A3A3A; font-weight:bold; padding-top:15px;}
.pages-tree .wrapper a {color: #CF7C00;}
.pages-tree .wrapper a:hover {text-decoration:none;}

.pages-tree .center {text-align:center;}
.pages-tree .center textarea, .pages-tree .center .redactor_box, .pages-tree .center .redactor_editor {height:200px;}
.redactor_editor, .redactor_editor:focus {height:200px !important;}
ul.markers {display:block; background:#fff; padding:10px; margin-top:10px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
ul.markers li {list-style-type:none; padding:4px 0; color:#3A3A3A;}
ul.markers li .global-marks {display:inline-block; font-weight:bold;}

.pages-form {width: 80%; float:right; position:relative; }
.ajax-wrapper {position:absolute; width:100%; height:100%; background: url('../img/ajax-wrapper-bg.png') repeat;}
.ajax-wrapper .loader {position:absolute; top:40%; left:45%; width:15px; height:15px; background: url('../img/ajaxs.gif') no-repeat;}

/* Grid (Table) */
table.grid {background:#fff;border-top: 1px solid #ddd;}
table.grid th {height:17px; padding:10px 5px;     -moz-background: linear-gradient(#c2c1c1, #ececec);  -ms-background: linear-gradient(#c2c1c1, #ececec);  -webkit-background: linear-gradient(#c2c1c1, #ececec);  background: linear-gradient(#FFF, #F0EEEE);color: #717171; font-size: 13px; font-weight: bold; text-align:left;  border-bottom: 1px solid #ddd;}
table.grid th a {color: #717171; font-size: 13px; font-weight: bold;}
table.grid th a:hover {text-decoration:none;}
table.grid td {height:17px; padding:10px 5px; color:#3a3a3a; font-size:13px;    border-bottom: 1px solid #DDD;}
table.grid tr:nth-child(2n) td {background: #FAFAFA;}
table.grid td, table.grid th {border-right: 1px solid #ddd;}
table.grid td a {color:#6E9200;-moz-text-shadow:none; -webkit-text-shadow:none; text-shadow:none;}
table.grid td.group {font-weight:bold; color:#96C703; -moz-text-shadow:none; -webkit-text-shadow:none; text-shadow:none;}
.pages {font-size:13px;}
.pages strong {color: #A8A8A8;}
.pages a {color: #666;}

table.grid ul {margin-left:40px; list-style-type:none;}
table.grid ul li {list-style-type:none; cursor:pointer; min-height:20px;}
ul#sort .plholder{width:100%; height:40px; border:1px solid #00E600; background:#C4C4C4;}
table.grid ul li div.item { border:1px dashed #aaa; padding:10px; margin:5px;}

.rules > table > tbody > tr.groupname > th {font-size: 1.2em;box-shadow: inset 0 0 0 1px #ACACAC;padding: 10px 13px;color: #5E5E5E;}
.rules table tbody tr th {padding: 10px 13px;color: #8D8D8D;}
.rules > table > tbody > tr > th.title {padding-left: 25px;font-size: 1em;box-shadow: none;}
.rules table tbody tr td.left {padding-left: 15px;}
.rules .sub-opener {font-size: 2em!important;cursor: pointer;}

/* Footer */
.footer {color: #999;font-size: 13px;text-align: center;padding: 10px 0;clear: both;position: relative;border: 1px solid #ddd;-moz-background: linear-gradient(#FFF, #EEE);-ms-background: linear-gradient(#FFF, #EEE);-webkit-background: linear-gradient(#FFF, #EEE);background: linear-gradient(#FFF, #EEE);z-index:0;}
.plugin_path {word-break: break-all;word-wrap: break-word;}

.jqplot-highlighter-tooltip {color:#fff;font-weight:bold;}

/*-------mobile-disign-------*/

.linkrightmenu, .linkleftmenu {display:none;}
.side-menu .nameleftmenu {display:none}
@media screen and (max-width: 1000px) {
   *{-ms-touch-action: none;-webkit-touch-callout: none;-webkit-user-select: none;}
    #wrapper, html, body {min-width: 241px;width: 100%;position: relative;}
	html {overflow-x: hidden;}
	body {width: 100%;overflow: hidden;}
	#wrapper {width: 100%;  padding: 0 232px;  margin: 0 -232px;  overflow: hidden;clear: both;}
	.center-wrapper {width: 100%;min-height: 100%;display: inline-block;padding: 0;}
	#content-wrapper {width: 100%;}
	.crumbs {margin: 0;border: 0; background: url(../img/menubg.png);  border-bottom: 1px solid #555;  border-top: 1px solid #CCC;color: #ddd;padding: 0 60px;text-shadow: 0 1px 0px #4D4D4D;font-size: 1em;height: auto;z-index: 1;box-shadow: 0px -3px 5px 5px #000;-moz-box-shadow: 0px -3px 5px 5px #000;-webkit-box-shadow: 0px -3px 5px 5px #000;}
	.crumbs div {padding: 17px 0;white-space: nowrap;height: 16px;overflow:hidden;width:100%;text-overflow: ellipsis;}
	.rcrumbs {float: none;position: absolute;right: 284px;background: url(../img/menubg.png);border-bottom: 1px solid #555;  border-top: 1px solid #CCC;padding: 18px 10px;height: 14px;color: #ddd;text-shadow: 0 1px 0 #555;}
    .rcrumbs a {color: #BBB;font-size: 1em;}
	border: 1px solid #666;
    .footer {border: 1px solid #666;background: #555;}
	
	/*-------mobile-menu-------*/
	#linkrightmenu, #linkleftmenu {opacity: 0.7;vertical-align: baseline;display: inline-block;height: 40px;top: 0;position: absolute;cursor: pointer;width: 50px;z-index: 5;line-height: 33px;margin: 6px 5px;text-align: center;  text-shadow: 0 1px 0 #000;color: #fff;font-size: 4em;font-family: 'icomoon';speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
	#linkrightmenu:before, #linkleftmenu:before {content: '\e0b8';}
	#linkleftmenu {left: 0;}
	#linkrightmenu {right: 0;}
	
	.side-menu, .headmenu {box-shadow: none;-moz-box-shadow: none;-webkit-box-shadow: none;background:#222;margin-top: -52px!important;}
	
	.side-menu .nameleftmenu {display:block;height: 30px;  width: 202px;  max-width: 232px;                    background: url(../img/menubg.png);  border-bottom: 1px solid #555555;  border-top: 1px solid #CCCCCC;      color: #f1f1f1;text-shadow: 0 1px 0px #000;font-size: 24px;padding: 10px 15px;}
	.side-menu {margin: 0;padding: 0;position: relative;float: left;z-index: 3;margin-left: -232px;overflow: hidden;display: inline-block;width: 232px;background: #222;border: 0;}
    .side-menu > ul {height: 100%;width: 232px;text-align: left;margin: 0;}
	.side-menu li.cat_on, .side-menu li.cat_off {width: auto;color: #f1f1f1;box-shadow: inset 0 0 10px #000;-moz-box-shadow: inset 0 0 10px #000;-webkit-box-shadow: inset 0 0 10px #000;border: 0;}
	.side-menu li.cat_on {background-color: #2A3600!important;}
	.side-menu li.cat_off {background-color: #361300!important;}
	.side-menu li div.sub .shadow {width: 232px;margin: 0 -10px;padding: 0 10px;box-shadow: inset 0 0 7px 3px #222;-moz-box-shadow: inset 0 0 7px 3px #222;-webkit-box-shadow: inset 0 0 7px 3px #222;}
    .side-menu li {border-top: 1px solid #2B2B2B;width: 232px;}
	.side-menu li:hover {background: #1b1b1b;}
	.side-menu li a {color: #999;text-align: left;padding: 19px 0;}
    .side-menu li a:hover {color: #BBB;}
	.side-menu li div.icon {color: #999;text-align: center;margin: 9px 6px;}
	.side-menu li:hover div.icon {color: #DDD;}
	.side-menu li .sub-opener {color: #999;right: 7px;  top: 2px;width: 48px;  height: 49px;font-size: 4em;}
	.side-menu li .sub-opener:hover {color: #666;}
	.side-menu li div.sub {background: #333;border-top: 2px solid #777;}
	.side-menu li div.sub ul li {border-bottom: 1px solid #444444;height: auto;overflow: hidden;}
	.side-menu li div.sub ul li a {color: #AAA;width:200px;padding: 14px 0 16px 31px;}
	
	.headmenu {margin: 0;width: 232px;position: relative;float: right;z-index: 3;height: 100%;display: inline-block;margin-right: -232px;border: none;    }
	.headmenu .homelink {display: block;float: none;margin: 53px 0 0 0;padding: 0;  height: auto;  width: 232px;}
	.headmenu .homelink:hover {background: #1b1b1b;}
	.headmenu .homelink a {font-family: 'Arial';display: block;font-size: 1.2em;padding: 20px 18px;  color: #ddd;  text-decoration: none;  text-shadow: 0 -1px 0 #000;  }
	.headmenu .homelink a:before {content: "Главная страница";}
	.headmenu .menu {float: none;width: 232px;margin: 0;overflow: hidden;height: 100%;}
	.headmenu .menu > ul {white-space: normal;padding-bottom: 50px;width: 232px;}
	.headmenu .menu > ul > li {display: block; padding: 0;  height: auto;border-top: 1px solid #2C2C2C;width: 232px;}
	.headmenu .menu > ul > li:hover {background-color: #1b1b1b;}
	.headmenu .menu > ul > li > span {font-size: 1.2em;padding: 20px 18px;}
	.headmenu .menu ul li .sub {background: #333333;top: 0;position: relative;-moz-box-shadow: none;  -webkit-box-shadow: none;  box-shadow: none;width: auto;border-bottom: 0;}
	.headmenu .menu ul li .sub .shadow {width: 100%;box-shadow: inset 0 0 7px 3px #000;-moz-box-shadow: inset 0 0 7px 3px #222;-webkit-box-shadow: inset 0 0 6px 2px #000;}
	.headmenu .menu ul li .sub li {height: auto;}
	.headmenu .menu ul li .sub li a {width: auto;padding: 19px 6px 19px 17px;}
	.headmenu .menu ul li .sub li span {padding: 19px 6px 19px 17px;font-size: 1em;}
	.headmenu .userbar {display: block;  float: none;  position: absolute;  top: 0;  left: 0px;  z-index: 2;height: 50px;width: 232px;max-width: 232px;  background: url(../img/menubg.png);    border-bottom: 1px solid #555555;  border-top: 1px solid #CCCCCC;box-shadow: 10px -4px 7px 3px #000;-moz-box-shadow: 10px -4px 7px 3px #000;-webkit-box-shadow: 10px -4px 7px 3px #000;}
	.headmenu .userbar .ava {margin-top: 4px;margin-left: 52px;width: 40px;  height: 40px;}
	.headmenu .userbar .ava img {width: 40px;height: 40px;}
	.headmenu .userbar .name {margin-top: 10px;margin-left: 100px;width: 85px;white-space: nowrap;overflow: hidden;}
	.headmenu .userbar a.exit {top: 0;right: 0;z-index: 2;margin-top: 7px;margin-right: 25px;font-size: 2.7em;text-shadow: 0 1px 0 #000;}
/*-------/mobile-menu-------*/
    table.grid th {font-size:1.1em;background: #EBEBEB;}
	table.grid td, table.grid th {word-break: break-all;}
    .yes, .no {margin: 0 auto;}
    input[type="text"], select, textarea, .collection {height: auto;padding: 12px;font-size: 1.3em;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;}
    #screenshot {max-width: 200px;max-height: 350px;margin: 20px auto 0;}
    
    .CodeMirror {display:none;}
    #tmpl {display:block!important;margin: 0 auto;}
	
	.list > .level1 > .items > .setting-item .right input[type="text"], select, textarea, .collection {width:80%!important;}
	.list > .title {font-size: 1.5em;height: auto;text-align: center;color: #f1f1f1;text-shadow: 0 1px 0 #000;background: rgba(0, 0, 0, 0.58);}
	.list > .level1 > .head {display: none;}
	.list > .level1 > .items > .setting-item > .title {height: auto;padding: 20px;color: #717171;font-size: 1.4em;font-weight: bold;text-shadow: 0 1px 1px #fff;background: #F0EEEE;}
	
	.list > .level1 > .items > .setting-item {text-align: center;}
	.list > .level1 > .items > .setting-item .left {width: auto;  float: none;  border: 0;font-size: 1.3em;padding:20px 20px 15px;}
	.list > .level1 > .items .comment {max-width: 100%;font-size: 0.8em;}
	.list > .level1 > .items .comment2 {display: block;font-size: 1em;}
	.list > .level1 > .items > .setting-item .right {float: none;border: 0;margin: 0;padding: 0 20px 20px;font-size: 1.1em;}
    .plugins table.grid {width: 100%;border: 0;}
    .plugins table.grid td {word-break: break-all;font-size: 1.3em;text-align: center;display: block;border-right: 0;}
	.plugins table.grid th {display:none;}
    .plugins table.grid tr {}
	.plugins table.grid tr:nth-child(2n) td {background: transparent;}
	.plugins table.grid tr:nth-child(2n) {background: #F3F3F3;}
	
	.pages-tree {height: auto!important;display: block;float: none;width: 100%;}
	.pages-form {width: 100%;float: none;}
	.pages-tree .wrapper .tbn {padding: 10px;text-align: center;font-size: 2em;background: #FFEDCD;border: 1px solid #FFADAD;margin: 10px -5px;}
	.pages-tree .wrapper a {font-size: 1.5em;padding: 10px;background: #F3F3F3;display: block;text-align: center;margin-bottom: 10px;border: 1px solid #D6D6D6;}
	.right a.delete,.right a.delete:hover {font-size: 40px;width: 40px;height: 51px;vertical-align: bottom;}
	
	.list .add-cat-butt {color: #CFCFCF;}
	.list .add-cat-butt:hover {color: #A5A5A5;}

@media screen and (max-width: 380px) {
.rcrumbs {display:none!important;}
}