{{ editor_body }}
<div class="material">
	   <form method="POST" id="sendForm" action="{{ data.action }}" onsubmit="sendu('sendForm');return false;">
       <div class="inftitle">Добавление комментария</div>
	   <div class="mat-content">
          <ul class="spisok-all">
		  {% if fps_user_id == 0 %}
          <li>
            <span class="siu_title"><strong><font color="red">*</font>Псевдоним:</strong></span>
            <span class="siu_data"><input {{ data.disabled }} type="text" name="login" size="47" value="{{ data.add_comment_name }}" /></span>
          </li>
		  {% endif %}
		  {% if data.add_comment_captcha %}
		  <li>
		    <span class="siu_title"><strong><font color="red">*</font>Код подтверждения:</strong>Введите код с картинки, для проверки, что вы не робот.</span>
            <span class="siu_data">{{ data.add_comment_captcha }}</span>
		  </li> 
		  {% endif %}
		  <li class="margin" style="overflow:visible;">
            <textarea {{ editor_text }} name="message" >{{ data.add_comment_message }}</textarea>
          </li>
		  <li>
            <input type="submit" name="send" value="Отправить" />
          </li>
          </ul>
      </div>
	  </form>
</div>
