<!doctype html>
<html>
<head>
<title>{{ title }}</title>

<meta name="description" content="{{ meta_description }}" />
<meta name="keywords" content="{{ meta_keywords }}" />
<meta charset="UTF-8"/>

<meta name='author' content='Andrey Brykin' />
<meta name='robots' content='index, follow' />
<meta name='rating' content='general' />
<meta name='generator' content='Atom-M CMS' />

<link rel="shortcut icon" href="{{ template_path }}/favicon.ico" type="image/x-icon" />
<link type="text/css" rel="StyleSheet" href="{{ template_path }}/css/style.css" />

<script type="text/javascript" src="{{ www_root }}/data/js/jquery.js"></script>
<script type="text/javascript" src="{{ www_root }}/data/js/atom.js"></script>
<script type="text/javascript" src="{{ www_root }}/data/js/jquery.form.min.js"></script>

<script type="text/javascript" src="{{ template_path }}/js/default.js"></script>

{{ editor_head }}

<!-- FancyBOX -->
<link type="text/css" rel="StyleSheet" href="{{ template_path }}/css/fancy.css" />
<script type="text/javascript" src="{{ template_path }}/js/jquery.fancybox.js"></script>
<!--/FancyBOX -->

<script type="text/javascript">
{% if fps_user_id %}
	check_pm('{{ fps_user_id }}');
{% endif %}
</script>
</head>


<body>
{% include '../includes/headpanel.html' %}
<div class="global">
{% include '../includes/header.html' %}

<div class="sider">
    <div class="sidertop bigmenu">
	  {{ mainmenu }}
	  <div class="search">
	   <form method="POST" action="{{ www_root }}/search/"> 
        <input type="hidden" name="subaction" value="search"> 
        <input name="search" placeholder="Найти что-нибудь..." type="text"> 
        <input value="GO!" type="submit" name="send"> 
       </form> 
	  </div>
	</div>
	<!---------------------------------------------------------------------------CONTENT/----------------------------------------------------------------------------------------------->
    <div class="content">
<div class="spedbar">
    <div>
        <div>{{ navigation }}</div>
    </div>
</div>
{% if pagination %}<div class="paginator">{{ meta }}<div class="pages">{{ pagination }}</div></div>{% endif %}
{% if add_link %}<a href="{{ www_root }}/news/add_form/" class="lastpostsbutton button">Добавить новость</a>{% endif %}
<div style="clear:both;"></div>
<div class="cleartwoblocks">
<div class="materials">
		{{ content }}
		<div class="paginator"><div class="pages">{{ comments_pagination }}</div></div>
        {{ comments }}
		<div class="paginator"><div class="pages">{{ comments_pagination }}</div></div>
        {{ comments_form }}
</div>
<div class="rightbloks">
		{{ pl_votes }}
		{{ popmat }}
	    {{ last_comments }}
	    {{ users_rating }}
	    <div class="block">
		  <div class="blockstop">Сайты на Atom-M CMS</div>
		  <div class="blokscontent">
		  <ul class="mini_list">
		     <li><img src="//cms.modos189.ru/favicon.ico" height="16" width="16" alt=""/><a href="//cms.modos189.ru" title="Презентационная страница AtomM CMS" rel="nofollow">Презентационная страница AtomM</a></li>
			 <li><img src="//modos189.ru/sys/img/favicon.ico" height="16" width="16" alt=""/><a href="//modos189.ru" title="Просто блог" rel="nofollow">Блог modos189</a></li>
			 <li><img src="//atomx.net/sys/img/favicon.ico" height="16" width="16" alt=""/><a href="//atomx.net" title="Официальный сайт AtomX CMS" rel="nofollow">Оф.Сайт. AtomX CMS</a></li>
		  </ul>
		  </div>
		</div>
</div>
</div>
	  <div class="paginator"><div class="pages">{{ pagination }}</div></div>
	<div class="material">
           <div class="inftitle">Сейчас online: {{ all_online }}. Зарегистрированных: {{ users_online }}. Гостей: {{ guests_online }}. </div>
	       <div class="infcont">{{ online_users_list }}</div>
	    </div>
	</div>
	<!---------------------------------------------------------------------------/CONTENT----------------------------------------------------------------------------------------------->
</div>
<!--------------------------------------------------------CHAT----------------------------------------------------------------------------------------------------------------------------->
{% if fps_chat %}
{% include '../includes/minichat.html' %}
{% endif %}
<!--------------------------------------------------------FOOTER-BUTTONS------------------------------------------------------------------>
{% include '../includes/footer.html' %}
</div>
</body>
</html>