{% if entities %}
<div class="lineblock">
	  <div class="linetitle"><h1>Каталог файлов</h1></div>
	  <div class="linehead order"><div class="forstatus"></div><div class="forname">{{ getOrderLink(['title','Тема']) }}</div><div class="forteme"><div><div class="mozilakostil">{{ getOrderLink(['downloads','Скачивания']) }} / {{ getOrderLink(['views','Просмотры']) }} / {{ getOrderLink(['comments','Комментарии']) }}</div></div></div><div class="fornewmess">{{ getOrderLink(['date','Добавлено']) }}</div></div>
	  {% for entity in entities %}
	  <div class="linecontent"><div class="forstatus"><span><img src="{{ template_path }}/img/load.png" alt=""/></span></div><div class="forname"><div class="mozilacostil">{% if entity.atom.moder_panel %}<div class="moderline">{{ entity.atom.moder_panel }}</div>{% endif %}<div class="lineinfo"><a class="namefor" href="{{ entity.atom.entry_url }}"><h2>{{ entity.title }}</h2></a><span class="button2" onclick="if($('#{{ entity.id }}').css('display') == 'none'){$('#{{ entity.id }}').show();}else{$('#{{ entity.id }}').hide();}">Подробнее</span><div class="fordescription hidden" id="{{ entity.id }}">{{ entity.add_markers.announce }}</div></div></div></div>
	  <div class="forteme">
		<ul>
			<li>Скачано: <strong>{{ entity.downloads }}</strong></li>
			<li>Просмотров: <strong>{{ entity.views }}</strong></li>
			<li>Комментариев: <strong>{{ entity.comments }}</strong></li>
		</ul>
		</div>
	  <div class="fornewmess">{{ AtmDate(entity.date) }}<br />Добавил: <a href="{{ entity.atom.profile_url }}">{{ entity.author.name }}</a><br />В раздел:<a href="{{ entity.atom.category_url }}">{{ entity.category.title }}</a></div></div>
	  {% endfor %}
</div>
{% else %}
<div class="informs">
Каталог файлов пуст.
</div>
{% endif %}