<div class="footerbottom">
  <div class="butofooter"><a class="buttonfutokno" onclick="ochat()">Общий ЧАТ</a>
    <div class="messegesokno" id="ochat" style="display:none;">
      <span class="headfutbutton"><span id="switchsound"></span>Общий чат<span class="closebuttonfut" onclick="ochat()"></span></span>
	  {{ fps_chat }}
    </div>
  </div>
</div>