{% if users %}
<!-- Стили для репутации
<style>
    .listreputation {
        margin: 5px 10px 0 0;
        color: #fff;
        font-weight: bold;
        font-size: 11px;
        float: left;
        padding: 1px 9px;
        display: inline-block;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        text-shadow: rgba(0,0,0,0.3) 0 -1px 0;
    }
</style>-->
<div class="block">
    <div class="blockstop">Топ пользователей</div>
    <div class="blokscontent users_rating">
    {% for user in users %}
        <div class="etopu">
            <img alt="" src="{{ user.avatar }}">

            <div class="ttop">
                <a href="{{ user.profile_url }}">{{ user.name }}</a><br>
                {% if user.rating %}
				    {% if user.rating >= 1 %}
						<div title="Репутация пользователя {{ user.name }} равна: {{ user.rating }}" class="listreputation" style="background-color: #780;"><span>{{ user.rating }}</span></div>
				    {% else %}
						<div title="Репутация пользователя {{ user.name }} равна: {{ user.rating }}" class="listreputation" style="background-color: #C54C4C;"><span>{{ user.rating }}</span></div>
					{% endif %}
				{% else %}
					<div title="Репутация пользователя {{ user.name }} равна: {{ user.rating }}" class="listreputation" style="background-color: #999;"><span>{{ user.rating }}</span></div>
                {% endif %}
                <br>Сообщений: {{ user.posts }}
            </div>
        </div>
    {% endfor %}
        <div class="ebottomu">
            <a class="button2" href="/users/index?order=rating">Весь рейтинг</a>
        </div>
    </div>
</div>
{% endif %}