<div id="voteblock">
<div class="block">
<div class="blockstop">Опрос</div>
<div class="blokscontent pl_votes">
<div id="vote_cont">
	<p style="text-align:center;font-weight: bold;">{{ pl.title }}</p>
	<div class="vote_answers">
    {% for vote in pl.votes %}
        <div>
            <input onClick="setPoint(this.value);" type="radio" value="{{ vote.id }}" name="ansver">{{ vote.variant }}
        </div>
    {% endfor %}
    </div>
    <div id="ajaxLoader" style="display:none;"><img src="/data/img/ajaxs.gif" alt="loading"/></div>
    <div class="vote_buttons" style="text-align:center;">
         <input onClick="sendVote('{{ pl.title }}');" type="button" name="vote" value="Голосовать" />
         <input onClick="showRes('{{ pl.title }}');" type="button" name="view" value="Посмотреть" />
    </div>
</div>
</div>
</div>
</div>

<script>
point = '';
function setPoint(val) {
    point = val;
}
function showRes(title) {
    point = val;
}
function sendVote(title) {
    $('#ajaxLoader').show();
	$('.vote_answers').hide();
    $.post('{{ pl.action }}', {ans:point,title:title,type:"sendvote"}, function(data){
        $('#ajaxLoader').hide();
		$('.vote_answers').show();
        showRes(title);
    });
}
function showRes(title) {
    $('#ajaxLoader').show();
	$('.vote_answers').hide();
    $.post('{{ pl.action }}', {title:title,type:"show"}, function(data){
        $('#ajaxLoader').hide();
		$('.vote_answers').show();
        $('#voteblock').html(data);
    });
}
</script>